*
{
  margin: 0;
  padding: 0;
}
body
{
background-color: bisque;
}
canvas
{
    border-radius: 10px;
    border: solid black 5px;
    /* width:75vh;
    height: 75vh; */
}
#fps
{
position: absolute;
top:0;
left: 0;
}
.game
{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
.menu
{
    /* display: none; */
}